<article class="testimonial-card card">

    <!-- RATING -->
    <div class="testimonial-rating">

        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>

    </div>

    <!-- TESTIMONI -->
    <p class="testimonial-text">
        "Website yang dibuat terlihat modern dan
        profesional. Proses pengerjaannya juga
        cukup jelas dan sesuai kebutuhan."
    </p>

    <!-- AUTHOR -->
    <div class="testimonial-user">

        <div class="testimonial-avatar">
            A
        </div>

        <div>

            <strong>
                Andi
            </strong>

            <span>
                Pemilik Bisnis
            </span>

        </div>

    </div>

</article>