<nav class="navbar">

    <div class="navbar-container">

        <!-- LOGO -->
        <a href="#" class="logo" data-link="home">
            <span>Frame</span>StudioCode
        </a>


        <!-- MENU BUTTON MOBILE -->
        <button
            class="menu-toggle"
            aria-label="Buka menu"
            aria-expanded="false"
        >
            <i class="fa-solid fa-bars"></i>
        </button>


        <!-- MENU -->
        <ul class="nav-links">

            <li>
                <a href="#" data-link="home">
                    Home
                </a>
            </li>

            <li>
                <a href="#" data-link="tentang">
                    Tentang
                </a>
            </li>

            <li>
                <a href="#" data-link="layanan">
                    Layanan
                </a>
            </li>

            <li>
                <a href="#" data-link="paket">
                    Paket
                </a>
            </li>

            <li>
                <a href="#" data-link="porto">
                    Portfolio
                </a>
            </li>

            <li>
                <a href="#" data-link="faq">
                    FAQ
                </a>
            </li>

            <li>
                <a href="#" data-link="kontak">
                    Kontak
                </a>
            </li>

        </ul>


        <!-- TOMBOL CTA -->
        <a href="#" class="navbar-cta" data-link="kontak">
            Konsultasi
            <i class="fa-solid fa-arrow-right"></i>
        </a>

    </div>

</nav>